{% extends 'base.html' %}

{% block content %}
<div class="container shadow home">
    <br>
    <h1>Benie's <br><span><h4>Top API Endpoints</h4></span></h1>
    <br>
    <ol class="bg-light w-50">
        <li><a href="{% url 'all-projects' %}">All Projects</a></li>
        <span>
            <ul>
                {% for p in projects %}<li><a href="{% url 'project-details' p.id %}">Project: <span><strong>{{p.name}}</strong></span> details</a></li>{% endfor %}
            </ul>
        </span>
        <li><a href="{% url 'all-technologies' %}">All Technologies</a></li>
        <li><a href="{% url 'all-comments' %}">All Comments</a></li>
        <span>
            <ul>
                {% for c in comments %}<li><a href="{% url 'comment-details' c.id %}">Comment #{{c.id}} details</a></li>{% endfor %}
            </ul>
        </span>
    </ol>
</div>
{% endblock %}