<div class="container" style="padding:2.5%;">
    <div class="container">
        <a href="https://benie254.web.app/">
            <h1 style="text-align:center;">
                <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="40" alt="">
            </h1>
        </a>
        <div style="padding:1.5%;">
            <h1>Hello Benie,</h1>
            <p>You have a new comment on Benie254. Here are the details:</p>
            <ul>
                <a href="https://benie254.web.app/projects/preview/{{project.id}}"><li>{{project.name}}</li></a>
                <h3 style="color:orange">Comment</h3>
                <p>{{comment}}</p>
            </ul>
            <br>
            <p>
                Cheers!
                <br>
                <span style="color:blueviolet;">The Dev Team,</span>
                <br>
                Benie Writes.
            </p>
            <br>
            <div style="text-align:center;">
                <small>2023 | Benson Langat | All rights reserved</small>
            </div>
        </div>
    </div>  
</div>