<div class="container" style="padding:2.5%;">
    <div class="container">
        <a href="https://benie254.web.app/">
            <h1 style="text-align:center;">
                <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="40" alt="">
            </h1>
        </a>
        <div style="padding:1.5%;">
            <h1>Hello Benie,</h1>
            <p>You have a new message on Benie Writes. Here are the details:</p>
            <ul>
                <li><span><strong>email</strong></span> &nbsp;&nbsp; <span style="color:blueviolet">{{email}}</span></li>
                <li><span><strong>name</strong></span> &nbsp;&nbsp;<span style="color:blueviolet">{{name}}</span></li>
                <h3 style="color:orange">Message</h3>
                <p style="color:blueviolet">{{message}}</p>
            </ul>
            <br>
            <p>
                Cheers!
                <br>
                <span style="color:blueviolet;">The Dev Team,</span>
                <br>
                Benie254.
            </p>
            <br>
            <div style="text-align:center;">
                <small>2023 | Benson Langat | All rights reserved</small>
            </div>
        </div>
    </div> 
</div>