<div class="container" style="padding:2.5%;">
    <div class="container">
        <a href="https://benie254.web.app/">
            <h1 style="text-align:center;">
                <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="40" alt="">
            </h1>
        </a>
        <div style="padding:1.5%;">
            <h1>Hello, {{name}} &#128512;</h1>
            <p>Thank you for your message. Benson successfully received it and will get back to you as soon as possible.</p>
            <br>
            <p>
                Cheers!
                <br>
                <span style="color:blueviolet;">The Dev Team,</span>
                <br>
                <span style="color:blueviolet;">Benie254.</span>
            </p>
        </div>
    </div>
    <hr>
    <div style="padding:1.5%;margin-top:1.5%;">
        <small style="text-align:center;">
            You are receiving this delivery report because your email was used to send a message on <a href="https://benie254.web.app">Benie254's portfolio.</a>
            If this happened by mistake or without your knowledge, please take steps to secure your email account.
        </small>
        <br>
        <div style="text-align:center;">
            <small>2023 | Benson Langat | All rights reserved</small>
        </div>
    </div>    
</div>